{# templates/bundles/SonataAdminBundle/CRUD/action_item/list_due_date.html.twig #}
{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if value %}
        {% set now = 'now'|date('U') %}
        {% set dueDate = value|date('U') %}
        {% set isOverdue = dueDate < now and object.statut.value != 'completed' %}
        {% set daysUntil = ((dueDate - now) / 86400)|round %}
        
        <div>
            <span class="{% if isOverdue %}text-danger{% elseif daysUntil <= 3 %}text-warning{% endif %}">
                <i class="fa fa-calendar"></i> {{ value|date('d/m/Y') }}
            </span>
            <br>
            {% if isOverdue %}
                <small class="label label-danger">
                    <i class="fa fa-exclamation-triangle"></i> {{ (daysUntil * -1)|round }} day(s) overdue
                </small>
            {% elseif daysUntil == 0 %}
                <small class="label label-warning">
                    <i class="fa fa-clock-o"></i> Due today
                </small>
            {% elseif daysUntil > 0 and daysUntil <= 3 %}
                <small class="label label-warning">
                    <i class="fa fa-clock-o"></i> Due in {{ daysUntil }} day(s)
                </small>
            {% elseif daysUntil > 3 and daysUntil <= 7 %}
                <small class="label label-info">
                    <i class="fa fa-clock-o"></i> Due in {{ daysUntil }} day(s)
                </small>
            {% endif %}
        </div>
    {% else %}
        <span class="text-muted">No deadline</span>
    {% endif %}
{% endblock %}