{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
	<div>
		<strong>{{ object.objet }}</strong>
		{% if object.type %}
			<br>
			<span class="label label-primary">{{ object.type }}</span>
		{% endif %}
		{% if object.president %}
			<br>
			<small class="text-muted">
				<i class="fa fa-gavel"></i>
				President:
				{{ object.president.nomComplet }}
			</small>
		{% endif %}
	</div>
{% endblock %}
