{# templates/bundles/SonataAdminBundle/CRUD/agenda_item/show_duration.html.twig #}
{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}
    {% if value %}
        <div class="info-box bg-aqua" style="margin: 0;">
            <span class="info-box-icon">
                <i class="fa fa-clock-o"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Estimated Duration</span>
                <span class="info-box-number">{{ value }} min</span>
                <div class="progress" style="height: 3px; margin: 5px 0;">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                    {% set hours = (value / 60)|round(0, 'floor') %}
                    {% set minutes = value % 60 %}
                    {% if hours > 0 %}
                        {{ hours }}h {% if minutes > 0 %}{{ minutes }}min{% endif %}
                    {% else %}
                        {{ minutes }} minutes
                    {% endif %}
                </span>
            </div>
        </div>
    {% else %}
        <span class="text-muted">
            <i class="fa fa-question-circle"></i> Duration not specified
        </span>
    {% endif %}
{% endblock %}