# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    locale: en
    locales: en|fr
    uploads_dir: "%kernel.project_dir%/public/uploads"

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    Sonata\DoctrineORMAdminBundle\Model\ModelManager: "@sonata.admin.manager.orm"

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: "../src/"
        exclude:
            - "../src/DependencyInjection/"
            - "../src/Entity/"
            - "../src/Kernel.php"

    app.listener.redirect_404_to_homepage:
        class: App\EventListener\Redirect404ToHomepageListener
        arguments:
            - "@router"
        tags:
            - {
                    name: kernel.event_listener,
                    event: kernel.exception,
                    method: onKernelException,
                }

    App\EventListener\EntityListener:
        arguments:
            - "@security.helper"
            - "@doctrine.orm.entity_manager"
        tags:
            - { name: doctrine.event_listener, event: prePersist }
            - { name: doctrine.event_listener, event: preUpdate }
            - { name: doctrine.event_listener, event: preRemove }

    acme_api.event.authentication_success_listener:
        class: App\EventListener\AuthenticationSuccessListener
        arguments:
            - "@lexik_jwt_authentication.jwt_manager"
            - "@request_stack"
        tags:
            - {
                    name: kernel.event_listener,
                    event: lexik_jwt_authentication.on_authentication_success,
                    method: onAuthenticationSuccessResponse,
                }

    # App\Service\Transport\ServiceSmsTransportFactory:
    #     tags:
    #         - { name: 'notifier.transport_factory'}

    # App\EventListener\SentMessageListener:
    #     arguments:
    #         - "@do.helper"
    #     tags:
    #         - { name: notification.event_listener, event: sentEvent }

    # --- Admins ---

    app.language_switcher:
        class: App\Block\LanguageSwitcherBlockService
        tags:
            - { name: sonata.block }

    admin.country:
        class: App\Admin\CountryAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\Country,
                    controller: ~,
                    manager_type: orm,
                    icon: '<i class="fa fa-location-arrow" aria-hidden="true"></i>',
                    group: Gestion des structures,
                    label: Countries,
                }

    admin.region:
        class: App\Admin\RegionAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\Region,
                    controller: ~,
                    manager_type: orm,
                    group: Gestion des structures,
                    label: Regions,
                }

    admin.division:
        class: App\Admin\DivisionAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\Division,
                    controller: ~,
                    manager_type: orm,
                    group: Gestion des structures,
                    label: Divisions,
                }

    admin.sub_division:
        class: App\Admin\SubDivisionAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\SubDivision,
                    controller: ~,
                    manager_type: orm,
                    group: Gestion des structures,
                    label: Sub-divisions,
                }
    
    admin.structure:
        class: App\Admin\StructureAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\Structure,
                    controller: ~,
                    manager_type: orm,
                    group: Gestion des structures,
                    label: Structures,
                }

    admin.evenement:
        class: App\Admin\EvenementAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
            - [addChild, ['@admin.visite', 'evenement']]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\Evenement,
                    controller: ~,
                    manager_type: orm,
                    icon: '<i class="fa fa-calendar" aria-hidden="true"></i>',
                    group: "Gestion des événements",
                    label: Événements,
                }

    admin.visite:
        class: App\Admin\VisiteAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\Visite,
                    controller: ~,
                    manager_type: orm,
                    icon: '<i class="fa fa-map-marker" aria-hidden="true"></i>',
                    group: "Gestion des événements",
                    label: Visites,
                }

    # ==================== PERSONNEL ADMIN ====================
    admin.fonction:
        class: App\Admin\FonctionAdmin
        tags:
            - { name: sonata.admin, model_class: App\Entity\Fonction, manager_type: orm, group: 'Human Resources', label: 'Functions', icon: '<i class="fa fa-briefcase"></i>' }
        calls:
            - [setTranslationDomain, ['messages']]

    admin.personnel:
        class: App\Admin\PersonnelAdmin
        tags:
            - { controller: App\Controller\Admin\PersonnelCRUDController, name: sonata.admin, model_class: App\Entity\Personnel, manager_type: orm, group: 'Human Resources', label: 'Personnel', icon: '<i class="fa fa-users"></i>' }
        calls:
            - [setTranslationDomain, ['messages']]

    admin.external_participant:
        class: App\Admin\ExternalParticipantAdmin
        tags:
            - { controller: App\Controller\Admin\ExternalParticipantCRUDController, name: sonata.admin, model_class: App\Entity\ExternalParticipant, manager_type: orm, group: 'Human Resources', label: 'External Participants', icon: '<i class="fa fa-user-plus"></i>' }
        calls:
            - [setTranslationDomain, ['messages']]

    # ============ END ======== PERSONNEL ADMIN ========= END ===========

    # ==================== REUNION ADMIN ====================

    admin.meeting_room:
        class: App\Admin\MeetingRoomAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\MeetingRoom,
                    controller: App\Controller\Admin\MeetingRoomCRUDController,
                    manager_type: orm,
                    icon: '<i class="fa fa-handshake-o" aria-hidden="true"></i>',
                    group: "Gestion des réunions",
                    label: Salles de réunion,
                }

    admin.reunion:
        class: App\Admin\ReunionAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
            - [addChild, ['@admin.agenda_item', 'reunion']]
            - [addChild, ['@admin.action_item', 'reunion']]
            - [addChild, ['@admin.reunion_participation', 'reunion']]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\Reunion,
                    controller: App\Controller\Admin\ReunionCRUDController,
                    manager_type: orm,
                    group: "Gestion des réunions",
                    label: Réunions,
                }

    admin.reunion_participation:
        class: App\Admin\ReunionParticipationAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\ReunionParticipation,
                    controller: ~,
                    manager_type: orm,
                    group: "Gestion des réunions",
                    label: Participations aux réunions,
                }

    admin.action_item:
        class: App\Admin\ActionItemAdmin
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\ActionItem,
                    controller: App\Controller\Admin\ActionItemCRUDController,
                    manager_type: orm,
                    group: "Gestion des réunions",
                    label: Actions à suivre,
                }

    admin.agenda_item:
        class: App\Admin\AgendaItemAdmin
        arguments:
            - '@doctrine.orm.entity_manager'
        calls:
            - [setTranslationDomain, ["messages"]]
        tags:
            - {
                    name: sonata.admin, 
                    model_class: App\Entity\AgendaItem,
                    controller: ~,
                    manager_type: orm,
                    group: "Gestion des réunions",
                    label: Points de l'ordre du jour
                }

    # ==================== END REUNION ADMIN ====================

    # ==================== DOCUMENT ADMIN ====================
    admin.document:
        class: App\Admin\DocumentAdmin
        calls:
            - [setTranslationDomain, ["admin"]]
        tags:
            - {
                    name: sonata.admin,
                    model_class: App\Entity\Document,
                    controller: ~,
                    manager_type: orm,
                    group: "Gestion des documents",
                    label: Documents,
                }

    # ============ END ======== DOCUMENT ADMIN ========= END ===========

