*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

@media print {
    .no-print{
        display: none !important;
    }
    .printable{
        display: block !important;
    }
}