{# templates/bundles/SonataAdminBundle/CRUD/external_participant/list_meetings_action.html.twig #}
<a href="{{ admin.generateObjectUrl('meetings', object) }}" class="btn btn-sm btn-default" title="View Meetings">
    <i class="fa fa-calendar"></i> Meetings
</a>