{# templates/bundles/SonataAdminBundle/CRUD/meeting_room/list_schedule_action.html.twig #}
<a href="{{ admin.generateObjectUrl('schedule', object) }}" class="btn btn-sm btn-info" title="View Schedule">
    <i class="fa fa-calendar"></i> Schedule
</a>