{# templates/bundles/SonataAdminBundle/CRUD/meeting_room/list_capacity.html.twig #}
{% extends '@SonataAdmin/CRUD/base_list_field.html.twig' %}

{% block field %}
    {% if value %}
        <span class="badge badge-info" style="font-size: 13px;">
            <i class="fa fa-users"></i> {{ value }} people
        </span>
    {% else %}
        <span class="text-muted">
            <i class="fa fa-question"></i> Not specified
        </span>
    {% endif %}
{% endblock %}